:root {
    --dark-blue: #3B4C5E;
    --light-grey: #C7D3DE;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--dark-blue);
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 30px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;
} 

header nav ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--light-grey);
    text-decoration: none;
}
/* End of Header and navigation attributes*/


#about {
    display: flex;
    border: 10px #824E39;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-top: 35px;
    padding-right: 15px;
    
}

.main-pic {
    width: 50%;
    border-right:5px solid #5C5C51; 
    padding-right: 15px;
}
.main-pic img {
    width: 100%;
}

 /* Pofile image attributes*/

#about h2 {
    display: flex;
    font-size: 20px;
    background-color: #CDBBAD;
    color: #383D2D;
    height: 40px;
    margin-bottom: 15px;
    align-items: center; 
    justify-content: center; 
    
}

h3 {
    padding: 2px;
}

.bio {
    margin-top: 20px;

}

.bio div {
    flex-wrap: wrap;
    background-color: #CDBBAD;
    color: #383D2D;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
    
}



h3 {
    padding-bottom: 20px;
}

.bio p {
    padding-left: 30px;
    text-indent: 25px;
}
/*End of Bio attributes*/

.float-right {
    flex: 1 0 400px;
    flex-wrap: wrap;
    float: right;
    width: 47%;
    border: 10px #824E39;
    margin-right: 15px;
    margin-left: 15px;
}
.float-right h4 {
    display: flex;
    font-size: 20px;
    background-color: #CDBBAD;
    color: #383D2D;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    align-items: center; 
    justify-content: center; 
    
}
.float-right section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#work1{

    margin-bottom: 20px;
    height: 250px;
    flex-wrap:wrap;
    width: 100%;
    position: relative;
    
}/*Large projects button*/

.work{
    
    margin-bottom: 20px;
    height: 250px;
    flex-wrap: wrap;
    width: 100%;
    position: relative; 
    
}

.button-image {
    width: 100%;
    height: 100%;
}

.work h5 {
    background-color: #CDBBAD;
    height: 40px;
    padding:10px;
    display: flex;
    align-items: center;
    color: #383D2D;
    top: 30px;
    position: absolute;
}

#work1 h5 {
    background-color: #CDBBAD;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: #383D2D;
    top: 30px;
    position: absolute;
}
/* End of Projects section/attributes*/

#contact {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #3B4C5E;
    color: white;
    display: block;
    width: 100%;
    

}

#contact h6{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

}

#contact p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}
/*End of Contacts section and attributes*/

footer {
    border-top: solid 5px black;
    width: 100%;
    display: flex;
    justify-content: center;
}
/*End of main attributes*/

@media screen and (max-width: 992px) {
    .main-pic {
        border-right: none;
    }
    #about{
        width:100%;
        border: none;
        margin-bottom: 30px;
        padding-right:15px;
    }
    .float-right{
        flex-wrap: wrap;
        float: none;
        width: 100%;
        margin-left: 0px;
    }
    header nav {
        float: none;
    }
    .float-right h4{
        border-top:5px solid #5C5C51; 
    }

}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 576px){
    .work{
        width: 100%;
    }
     header h1 {
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #contact h6 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* End of media screen attributes*/
